<html>
    <head>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <script src="../static/index.js"></script>

        <style>
            .item:hover {
                color: blue;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron mt-3">
                <h1>TabTab Mini</h1>
                <p>Write your context!</p>

                <select id="model" style="margin-bottom: 10px;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                </select>

                <input type="radio" name="length" checked="checked" value="short">short</input>
                <input type="radio" name="length" value="long">long</input>

                <textarea id="context" style="width:70%; height:40%; display: block; margin-bottom: 10px;"></textarea>
                
                <b data-selected="true" data-label-id="0" style="position: relative; transition: none 0s ease 0s; cursor: move; top: -6px;">Result</b>
                <div id="select_box">
                    <ul>
                        <li class="item" onclick="concat(this.innerHTML)"></li>
                        <li class="item" onclick="concat(this.innerHTML)"></li>
                        <li class="item" onclick="concat(this.innerHTML)"></li>
                        <li class="item" onclick="concat(this.innerHTML)"></li>
                        <li class="item" onclick="concat(this.innerHTML)"></li>
                        <li class="item" onclick="concat(this.innerHTML)"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 0px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)"></li>
                        <li class="item" onclick="concat(this.innerHTML)"></li>
                        <li class="item" onclick="concat(this.innerHTML)"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -241px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -240px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -240px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -96px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -264px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -267px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -264px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -264px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -264px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 290px; top: -264px;"></li>
              
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -481px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -480px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -480px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -336px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -504px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -507px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -504px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -504px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -504px;"></li>
                        <li class="item" onclick="concat(this.innerHTML)" style="position: relative; left: 591px; top: -504px;"></li>


                    </ul>
                </div>
                <button id="btn_autocomplete" class="btn btn-primary" onclick="suggestion()" style="position: relative; left: 19px; top: -460px;">Auto Complete!</button>
            </div>
        </div>
    </body>
</html>
